.env
.venv312

back/clothes/runs
back/clothes/router_model
back/clothes/상의_specialist_model
back/clothes/하의_specialist_model
back/clothes/아우터_specialist_model
back/clothes/원피스_specialist_model

*.pyc
__pycache__/
